<?xml version="1.0" encoding="UTF-8"?>

<Configuration packages="com.example.log4j">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} [%X{trace.id}] [%X{span.id}] [%t] %-5level [%logger{0}] - %msg%n"/>
        </Console>
        <Console name="Json" target="SYSTEM_OUT">
            <JsonTemplateLayout eventTemplateUri="classpath:KamonLayout.json"/>
        </Console>
        <KamonAppender />
        <Routing name="Router">
            <Routes pattern="$${env:LOG_TYPE:-CONSOLE}">
                <Route ref="Console" key="CONSOLE"/>
                <Route ref="Json" key="JSON"/>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Router"/>
            <AppenderRef ref="kamonAppender"/>
        </Root>
    </Loggers>
</Configuration>